<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xm:lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Twitter Client Home</title>
        <link rel="stylesheet" href="home.css"/>
    </head>
    <body>
        <div class="maindiv">
            <h1>Search Twitter for latest Tweets on what you like!</h1>
            <p>Just type in what you want proceeded by a '#'</p>
            <p>EX: '#rubyonrails'</p>
        </div>
        <div class="twitter">
            <%= form_tag(clients_path method: :get) do %>
            <p>Search Twitter <%= text_field_tag (:search) %></p>
            <%= submit_tag 'Search' %>
            <% end %>
            <%= @search %>
            <%= @client.search("#rubyonrails", result_type: "recent").take(3).collect do |tweet| %>
              <h2>Username:</h2> <%= "#{tweet.user.screen_name}:" %>
              <h3>Tweet:</h3> <%= "#{tweet.text}" %>
              <% end %>
        </div>
    </body>
</html>